<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="application/javascript" src="{{ url_for('static', filename='js/echarts.js') }}"></script>

</head>
<body>
    <div id="main" style="width: 900px;height:600px;"></div>
    <script type="application/javascript">
        console.log('Init');
        var myChart = echarts.init(document.getElementById('main'));
        function pointData(temperature) {
            // now = new Date(+now + oneDay);
            // value = value + Math.random() * 21 - 10;
            var now = (new Date());
            var date = [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('-')
                        + ' '
                        + [now.getHours(), now.getMinutes(), now.getSeconds()].join(':');
            return {
                name: now.toString(),
                value: [
                    date
                    , temperature
                ]
            }
        }

        var data = [];
        for (var i = 0; i < 1000; i++) {
            data.push(pointData(28.7));
        }

        option = {
            title: {
                text: '温度'
            },
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    params = params[0];
                    return params.value[0] + ' ( ' + params.value[1] + ' )';
                },
                axisPointer: {
                    animation: false
                }
            },
            xAxis: {
                name: 'time',
                type: 'time',
                splitLine: {
                    show: false
                },
                splitNumber: 10
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '100%'],
                splitLine: {
                    show: true
                },
                max: 33,
                min: 25
            },
            series: [{
                name: '模拟数据',
                type: 'line',
                showSymbol: false,
                hoverAnimation: false,
                data: data
            }]
        };

        myChart.setOption(option);

        setInterval(function () {

            for (var i = 0; i < 5; i++) {
                data.shift();
                data.push(pointData(30.0));
            }

            myChart.setOption({
                series: [{
                    data: data
                }]
            });
        }, 1000);
    </script>
</body>
</html>
